body {
    background-color: white;
    color: black;
    font-family: "Lucida Console", Monaco, monospace;
}

body input,
body label {
    display: block;
}

h1,h2 {
    text-align: center;
}

.heading {
    color: black;
}

input {
    position: relative;
    outline: none;
    border: none;
    background-color: white;
    color: black;
    padding: 1em 1em;
    display: block;
    font-size: 4mm;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}


#messageDisplay {
    border: black 1px solid;
    background-color: #fae3d9;
    position: fixed;
    width: 45%;
    height: 500px;
    margin: 5px;
    padding: 1em;
    overflow: auto;
}

.wrapper {
    padding-top: 55px;
    padding-left: 20px;
    padding-right: 10px;
}

status {
    width: 88px;
    display: block;
    background-color: #54a9ff;
    padding: 1em .5em;
    float: left;
    font-size: 1.5em;
}

label {
    display: block;
    text-align: -moz-left;
    font-size: 8mm;
    padding-left: 10px;
    color: gray;
}

div.messages {
    margin-left: 1em;
}

form {
    background-color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border: black solid 1px;
    height: 40px;
    padding: 5px 5px;
    margin: 5px 5px;
    position: fixed;
    bottom: 5px;
    width: 48%;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    background-color: #ffb6b9;
    left: 0;
    postion: relative;
}

.right{
    background-color: #61c0bf;
    right: 0;
    padding-top: 50px;
}

div.drawing-button{
    position: relative;
    display: flex;
    justify-content: right;
}

button {
    font-family : inherit;
    font-size: 1em;
    background-color:#61c0bf;
    color: #fae3d9;
    cursor: pointer;
    width: 80px;
    height: 50px;
}

button:hover {
    color: aquamarine;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.wrap {
    width: 100%;
}


.clear {
    clear: both;
}