body {
    background-color: white;
    color: black;
    font-family: sans-serif;
}

body input,
body label {
    display: block;
}

h1,h2 {
    text-align: center;
}


input {
    position: relative;
    outline: none;
    border: none;
    background-color: white;
    color: black;
    padding: 1em 1em;
    display: block;
    font-size: 4mm;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

label {
    display: block;
    text-align: -moz-left;
    font-size: 8mm;
    padding-left: 10px;
    color: gray;
}

div.messages {
    margin-left: 1em;
}

form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border: black solid 1px;
    height: 40px;
    padding: 5px 5px;
    margin: 5px 5px;
    position: fixed;
    bottom: 5px;
    width: 48%;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    background-color: lightpink;
    left: 0;
    postion: relative;
}

.right{
    right: 0;
    /*padding-top: 50px;*/
}

div.drawing-button{
    position: relative;
    display: flex;
    justify-content: right;
}

button {
    color: dodgerblue;
    cursor: pointer;
}

button:hover {
    color: aquamarine;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
